
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>firstAngularApp</title>
    </head>
    <body>
      <section class="vh-100" style="background-color: #000000;">
          <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col col-xl-10">
                      <div class="card" style="border-radius: 1rem;">
                          <div class="row g-0">
                              <div class="col-md-6 col-lg-5 d-none d-md-block">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                              </div>
                              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                  <div class="card-body p-4 p-lg-5 text-black">

                                      <form method=""  id="frm_login">

                                          <div class="d-flex align-items-center mb-3 pb-1">
                                              <img src="assets/images/itsch.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Logo ITSCH" style="width: 100px">
                                              <span class="h1 fw-bold mb-0">ITSCH</span>
                                          </div>

                                          <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">My first Angular App</h5>


                                          <div class="mb-4">
                                              <Label class="form-label" >Tipo de usuario</Label>
                                              <select id="tipo-login" name="tipo-login" class="form-control form-control-lg" required>
                                                  <option value="1" selected>Administrativo</option>
                                                  <option value="0">Alumno</option>
                                              </select>
                                          </div>

                                          <div class="form-outline mb-4">
                                              <input type="email" id="email" class="form-control form-control-lg"  name="email" required/>
                                              <label class="form-label" for="email" id="user">Email address</label>
                                          </div>

                                          <div class="row" >
                                              <div class="col-sm-10">
                                                  <div class="form-outline mb-4">
                                                      <input type="password" id="password" class="form-control form-control-lg" name="password" required/>
                                                      <label class="form-label" for="password" id="passwd">Password</label>
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="pt-1 mb-4">
                                              <button class="btn btn-dark btn-lg btn-block" (click)="login()" type="submit">Login</button>
                                          </div>

                                          <a class="small text-muted" href="" id="olvidaste">¿Olvidaste tu contraseña?</a>

                                      </form>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    </body>
</html>
